Image .storeWrapper{
    display: flex;
    flex-direction: column;
    background-color: #d12424;
    color: black;
    max-width: 800px;
    height: 100%;
    margin: 8px;
    .storeName{
        font-size: 24px;
        font-weight: 600;
        margin-left: 8px;
    }
 
}
 
.cardWrapper{
    padding: 8px;
    display: flex;
    flex-direction: row;
    background-color: gray;
    color: white;
    margin: 8px;
    height: 100%;
 
    .leftSide{
        display: flex;
        flex-direction: column;
        .cardName{
            color: black;
            font-weight: 600;
            margin-bottom: 4px;  
            width: 200px;
        }
        .cardImage{
            border-radius: 8px;
            height: 240px;
            width: 180px;
        }
    }
 
    .rightSide{
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        justify-content: space-between;
        .cardDescription{
            width: 300px;
        }
        .cardValue{
            width: 250px;
            background-color: navy;
            color: white;
        }
    }
}