.headerWrapper {
    position:ab;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid var(--color-border);
    position: fixed;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(10px);
    .headerIcon {
        cursor: pointer;
        margin-left: 8px;
        margin-right: 8px;
    }
    .header{
        width: 100%;
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        color: var(--color-text);
        justify-content: space-between;
        margin-bottom: 4px;
        .leftSide{
            width: 80%;
            .massEntry{
                cursor: pointer;
                margin-left: 12px;
            }
            .singleCard{
                margin-left: 12px
            }
            &:hover {
                background: linear-gradient(to right, var(--color-text-gradient1), var(--color-text-gradient2));
                background-clip: text;
                color: transparent;
            }
        }
        .rightSide{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 130px;
            margin-right: 12px;
            .logIn{
                width: 50px;
                cursor: pointer;
                &:hover {
                    background: linear-gradient(to right, var(--color-text-gradient1), var(--color-text-gradient2));
                    background-clip: text;
                    color: transparent;
                }
            }
            .signUp{
                display: flex;
                justify-content: center;
                width: 70px;
                background: linear-gradient(to bottom right,     
                    var(--color-primary),
                    var(--color-secondary) );
                border: 1px solid black;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background: linear-gradient(to bottom right,
                    var(--color-primary-hover),
                    var(--color-secondary-hover) );
                  }
            }

        }
    }
}

.propsWrapper{
    padding-top: 90px;
}